/* CSS LAYOUT */
/* **************************************************************** */

p{
    column-count: 3;
    column-gap: 30px;
    column-rule-width: 1px;
    column-rule-style: solid;
    column-rule-color: red;
} 

.periodico{
    column-fill: auto;
} 

.cuadrado{
    display: block;
    background-color: blue;
    width: 100px;
    height: 100px;
}

img{
    filter: blur(5px);
    filter: brightness(80%)
    
}
